.icon {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    //font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
}

// https://fonts.google.com/icons

.icon-home::before {
    content: '\E88A';
}

.icon-calendar::before {
    content: '\e935';
}

.icon-face::before {
    content: '\e87c';
}

.icon-label::before {
    content: '\e892';
}

.icon-help::before {
    content: '\e887';
}

.icon-badge:before {
    content: '\ea67';
}

.icon-engineering:before {
    content: '\ea3d';
}

.icon-cake:before {
    content: '\e7e9';
}

.icon-pin-drop:before {
    content: '\e55e';
}
.icon-handshake:before {
    content: '\ebcb';
}
.icon-domain:before {
    content: '\e7ee';
}

  // https://fonts.google.com/icons?selected=Material+Symbols+Outlined:home:FILL@0;wght@400;GRAD@0;opsz@24