ul.navigation  {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: $dark-color ;


    li {
        float: left;
        border-right:1px solid $subtile-color;

    }
    li:last-child {
        border-right: none;
    }
      
    li a {
        display: block;
        color: $dark-color-font_text;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
    li a:hover:not(.active) {
        background-color: $darker-color;
      }
      
    .active {
        background-color: $dark-active-color;
        color: $dark-active-color-font-text;
    }

  }
