.content {
    margin: 8px;


    .home, .post {
        border: 2px solid $focus-border;
        padding-top: 0px;
        padding-bottom: 4px;
        padding-left: 8px;
        padding-right: 8px;
        background-color: $focus-color-background;


        h2.post-list-heading, h1.post-title {
            background-color: $light-color-background;
            margin-block-start:0px;
            margin-block-end:0px;
            padding-top: 4px;
            padding-bottom: 4px;
            padding-left: 8px;
            padding-right: 8px;
            margin-left: -8px;
            margin-right: -8px;
            color: $light-color-font-text;
        }
    }
}

.metadata {
    padding: 4px;

    .icon {
        margin-left: 8px;
        width: 100%;
        color: $subtile-text;
        font-size: 24px;
        display: initial;
    }


    .title {
        //font-size: 24px;
        color: $less-subtile-text;
        vertical-align: super;
        font-weight: bold;

    }
}

$chip-height: 32px;

.chips {
    padding: 0px 0;
    .chip {
        display: inline-block;
        background: $chip-color-background;
        margin: 0 5px 3px 0;
        padding: 0 12px;
        border-radius: 32px;
        font-size: 13px;
        height: $chip-height;
        line-height: $chip-height;
        color: $chip-color;
        text-decoration: none;

    }
}  

