/* Follow indigo color palette: https://materialui.co/colors/ */


$subtile-color: #9FA8DA;
$dark-color: #303F9F;
$darker-color: #1A237E;
$dark-color-font-text: white;

$light-color-background: #C5CAE9;
$light-color-font-text: #263238;




/* Blue palette*/ 
$no-focus-background: #E0E0E0;
$focus-border: #9E9E9E;
$focus-color-background: lighten(#E8EAF6, 3%);
$dark-active-color: #263238;
$dark-active-color-font-text: white;

$subtile-text: #CFD8DC;
$less-subtile-text: #90A4AE;

$chip-color-background: #263238;
$chip-color: #E0E0E0;